global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend unified_front
  bind :80
  acl is_api path -i -m beg /api/
  use_backend plumbing if is_api
  default_backend porcelain

backend plumbing
  server s2 ${PLUMBING_HOST}:${PLUMBING_PORT} check

backend porcelain
  server s1 ${PORCELAIN_HOST}:${PORCELAIN_PORT} check
